

body {
    background-color: burlywood;
}


h1 {
    color: green;
}

header {
    text-align: center;
}

footer p {
    color: blue;
    font-size: 10px;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

section {
    background-color: antiquewhite;
}

h2 {
    background-color:chocolate;
    color:azure;

}
